*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    background-color: rgb(229, 229, 230);
}

/* The navbar */
nav{
    background-color: white;
    margin: 2rem;
    border-radius: 10px;
    /* box-shadow: 0px 20px 200px; */
}

ul{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

nav ul img{
    width: 130px;
    height: auto;
    list-style-type: none;
}

#img-1{
    padding-left: 2rem;
    padding-right: 15rem;
}

#img-2{
    padding-right: 1rem;
    padding-left: 15rem;
}

b{
    color: rgb(252, 172, 23);
}
/* the end of the navbar */


/* the beginning of  div .container from */
.container{
    display: grid;
    /* justify-content: center; */
    background-color: white;
    margin: 4rem 20rem;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.253);
}

h1{
    padding-top: 4rem;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif, Tahoma;
    color: rgb(52, 52, 255);
}

.p{
    text-align: center;
    color: red;
}

form{
    padding: 1rem;
    display: grid;
}

label{
    color: rgb(52, 52, 255);
    font-family:Arial, Helvetica, sans-serif;
    padding: 1rem 0rem 0.3rem 0rem;
}

form input::placeholder{
    padding: auto;
}

#p{
    color: rgb(167, 165, 165);
}

.btn-1{
    width: 5rem;
    position: absolute;
    bottom: -267px;
    left: 350px;
}

.p1{
    position: absolute;
    bottom: -267px;
    left: 440px;
}

input{
    height: 2rem;
    border: 2px silver solid;
    border-radius: 5px;
    font-size: 1rem;
}

select{
    height: 2rem;
    border: 2px silver solid;
    border-radius: 5px;
}

textarea{
    height: 6rem;
    border: 2px silver solid;
    border-radius: 5px;
}

.btn-2{
    margin: 2rem 0rem;
    padding: 1rem;
    color: white;
    background-color: rgb(52, 52, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* the end of the div .container from */